boton {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 17px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 5px;
    border: 2px solid #0016b0;
    
}
