body {
    background-image: url(https://media.istockphoto.com/vectors/mining-bitcoin-cryptocurrency-digital-stream-futuristic-money-vector-id899823216?k=20&m=899823216&s=612x612&w=0&h=4I9mmu5sRjr6tIggU0k4fcir0K5YFc333sef0dHjIJ8=);
}

h4 {
    -webkit-text-fill-color: rgb(0, 4, 255);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color:rgb(0, 68, 255);
    background-color:#d9ff00;
    border-color: #F69DA1;
    border-width: 5px;
    border-style: solid;
}